body {
    background: #edede9;
    font-size: 1.2rem;
}

header {
    text-align: center;
}

.header-title {
    font-size: 3rem;
}

.header-body {
    font-size: 1.5rem;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.information-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.grid-size-display {
    text-align: center;
    font-weight: bold;
}

.grid-input {
    width: 100px;
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.change-grid-button {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #003049;
    color: white;
}

.reset-grid-button {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #c1121f;
    color: white;
}

.extra-modes-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.active {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.normal-mode-button, .rainbow-mode-button, .opacity-mode-button, .eraser-mode-button {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: solid 2px black;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
}

.item {
    box-sizing: border-box;
    height: 32px;
    aspect-ratio: 1 / 1;
}

footer {
    text-align: center;
}